<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">   <!--用于IE浏览器-->
    <meta name="viewport" content="width=divice-width0,initial-scale=1"> <!--/获取当前设备窗口大小，并调整网页大小与之1：1-->
    <title>这是第一个Bootstrap网页</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  <!--引入本地bootstrap压缩版css样式文件-->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script><!--引入IE9浏览器配置文件-->
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script> <!--引入IE9浏览器配置文件-->
</head>
<body>
    <div class="container">   <!--给div添加一个作为容器的类名，这个类在bootstrap里有样式-->
        <p><a href=""/>你好!!!</a></p>
    </div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
