<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css
">

</head>
<body>
<div class="container">
    <h2>带边框的表格 </h2>
    <table style="width: 500px;" class="table table-bordered">
        <thead>
        <tr>
            <th>科目</th>
            <th>成绩</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>高数</td>
            <td>88</td>
        </tr>
        <tr>
            <td>大学英语</td>
            <td>90</td>
        </tr>

        <tr>
            <td>计算机基础</td>
            <td>96</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>