<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>Bootstrap全局CSS</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1>新闻标题1</h1>
<h2>新闻标题1</h2>
<h3>新闻标题1</h3>
<h4>新闻标题1<small>欢迎你的到来</small></h4>
<p class="lead">测试数据</p>
 <del>被删除元素</del></br>
    <mark>被加了背景</mark>
    <p class="text-left">文字居左</p>
    <p class="text-right">文字居右</p>
    <p class="text-center">文字居中</p>
<ul class="list-unstyled">
    <li >新闻1</li>
    <li>新闻2</li>
   <li>新闻3</li>
</ul>
<div class="lead">
文字高亮显示
</div>
</div>
</body>
</html>